body {
    background: #f7f7f7;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo {
    border-radius: 100px;
    border: 1px solid #444;
}


#title, .subtitle, .post_title {
    color: #505050;

} 

.post_title {
    font-size: 15px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 2px solid #444;
    margin-bottom: 15px;
    border-radius: 10px;
}

 .post_content {

    margin: 0;
    margin-bottom: 50px;
    text-align: justify;
 }